.env
node_modules
public/bundle.js
# public/*
.eslintrc.json
server/data/bookData2.csv
server/data/bookData3.csv
src/components/FEGame.jsx
src/components/FElobby.jsx
src/components/FEScores.jsx
src/components/FEVoting.jsx
src/deprecate/*
# package-lock.json
