.env
node_modules
public/bundle.js
public/*
.eslintrc.json
data/bookData2.csv
src/components/FEGame.jsx
src/components/FElobby.jsx
src/components/FEScores.jsx
src/components/FEVoting.jsx
src/deprecate/*
